{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="display-4">EXERCICE LECPAC</h1>
                    <p class="lead">Exercice effectué pour le poste d'apprenti en développement web chez LECPAC Consulting.</p>
                </div>

                <div class="col-md-6">
                    <div class="row justify-content-end">
                        <div class="card col-6">
                            <div class="card-header">
                                MARTINET RÉMI
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">remi10martinet11@gmail.com</li>
                                <li class="list-group-item">06 68 74 12 59</li>
                                <li class="list-group-item"><a href="https://www.linkedin.com/in/remi-martinet-335780176/">Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>

    <div id="listClient">

        <div class="container">

            <div class="row">

                <div class="col-md-12">


                    <div id="message"></div>

                    <div class="row justify-content-between">

                        <div class="col-md-3">
                            <h2>Listes des clients</h2>
                        </div>

                        <button id="create" type='button' class='btn btn-success col-2'>Ajouter un client</button>


                    </div>

                    <table class="table table-hover">

                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Fonction</th>
                                <th class="thCenter" scope="col">Détails</th>
                                <th class="thCenter" scope="col">Modifier (adress1 => test)</th>
                                <th class="thCenter" scope="col">Supprimer</th>
                            </tr>
                        </thead>

                        <tbody id="tabClients">


                        </tbody>

                    </table>

                    <div class="row justify-content-center">
                        <div id="infosClient" class="card col-md-6" hidden>
                            <div class="card-header">
                                Infos Client
                            </div>

                            <ul class="list-group list-group-flush">

                                <li id="civilite" class="list-group-item"></li>
                                <li id="nom" class="list-group-item"></li>
                                <li id="prenom" class="list-group-item"></li>
                                <li id="entreprise" class="list-group-item"></li>
                                <li id="fonction" class="list-group-item"></li>
                                <li id="tel" class="list-group-item"></li>
                                <li id="portable" class="list-group-item"></li>
                                <li id="email" class="list-group-item"></li>
                                <li id="adresse1" class="list-group-item"></li>
                                <li id="adresse2" class="list-group-item"></li>
                                <li id="cp" class="list-group-item"></li>
                                <li id="ville" class="list-group-item"></li>
                                <li id="telEntreprise" class="list-group-item"></li>
                                <li id="effectif" class="list-group-item"></li>

                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>



{% endblock %}
